/Builds
/JuceLibraryCode
/resources/fftw_osx
/resources/fftw_win
/Installers/
/scripts
.DS_Store
.ttf
.p12
.idea/**
cmake-build-debug/**
cmake-build-release/**
cmake-build-release-visual-studio/**
tests/Reaper/Backups/**
tests/Results/**
tests/Reference/*.txt
tests/Reaper/Media/peaks/**
tests/Reaper/Media/*Render*.wav

build/
