[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
[submodule "modules/melatonin_perfetto"]
	path = modules/melatonin_perfetto
	url = https://github.com/sudara/melatonin_perfetto.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE/
[submodule "modules/farbot"]
	path = modules/farbot
	url = git@github.com:hogliux/farbot.git
